link rel="icon" href="/assets/favicon.ico" type="image/x-icon"
link rel="stylesheet" href="/assets/fontawesome.all.min.css"
link rel="stylesheet" href="/assets/solid.min.css"
link rel="stylesheet" href="/assets/brands.min.css"
link rel="stylesheet" href="/assets/bootstrap.min.css"
link rel="stylesheet" href="/assets/mdb.min.css"
link rel="stylesheet" href="/assets/app.css"